@{
    ViewData["Title"] = "Registro";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
@model FerminToroWeb.Models.StudentSignUpModel
@if (Model.Error == true)
{
    <script type="text/javascript">
        window.onload = function () {
            Swal.fire({
                title: 'No pudo registrarse',
                text: "La cédula o el correo ya estan registrados",
                icon: 'warning',
                confirmButtonColor: '#3085d6',
                confirmButtonText: 'Ok'
            });
        }
    </script>
}
<main role="main" class="pb-3">
    <div class="container" id="container">



        <div class="form-container register-container">
            @using (Html.BeginForm("SignUpAction", "Student", FormMethod.Post))
            {
                <h1>Registrar Nuevo Estudiante</h1>
                <input type="text" value="@Model.Cedula" placeholder="Cédula" name="Cedula" required pattern="[0-9]*" title="La Cédula debe contener solo números.">
                <input type="text" value="@Model.Nombre" placeholder="Nombre" name="Nombre" required data-val="true" data-val-required="El campo Nombre es requerido">
                <input type="text" value="@Model.Apellido" placeholder="Apellido" name="Apellido" required>
                <input type="text" value="@Model.Telefono" placeholder="Teléfono" name="Telefono" required>
                <input type="email" value="@Model.Correo" placeholder="Correo" name="Correo" required>
                <input type="date" value="@Model.Fecha_Nac" id="Fecha_Nac" name="Fecha_Nac" required>
                <input type="text" value="@Model.Direccion" placeholder="Dirección de Habitación" name="Direccion" required>
                <button>Registrar Alumno</button>
            }
        </div>

        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-right">
                    <img src="~/img/logos/Logo_dark_letras.png" class="logo" style="max-width: 420px; max-height: 420px;">
                    <br />
                    <br />
                </div>
            </div>
        </div>

    </div>

</main>
