@using FerminToroMS.Application.Responses;
@{
    ViewData["Title"] = "Periodos";
    Layout = "~/Views/Shared/_MenuAdministradorLayout.cshtml";
}

@model IEnumerable<ScheduleResponse>
<link rel="stylesheet" href="~/css/AllPeriodsTable.css" asp-append-version="true" />
@if (@Model.FirstOrDefault() == null)
{
    <div class="text-center">
        <h1 class="display-4">Cronograma no creado</h1>
    </div>
    <form method="post" id="crearcronograma" asp-action="" asp-controller="">
        <div style="display: flex; justify-content: center;">
            <button type="submit" class="btn btn-primary">Crear nuevo cronograma</button>
        </div>
    </form>

}
else{
    <div class="text-center">
        <h1 class="display-4">Cronograma del @Model.FirstOrDefault().PeriodName</h1>
    </div>

    <div>
        <h3>Aplicar Filtro</h3>
        <label>Por Turno</label>
        <select name="byturno" id="turnoSelect">
            <option value="">Seleccionar...</option>
            <option value="Matutino">Matutino</option>
            <option value="Vespertino">Vespertino</option>
            <option value="Nocturno">Nocturno</option>
            <option value="Sabatino">Sabatino</option>
        </select>
        <label>Por Modalidad</label>
        <select name="bymodalidad" id="modalidadSelect">
            <option value="">Seleccionar...</option>
            <option value="Presencial">Presencial</option>
            <option value="Online">Online</option>
        </select>
        <label>Por Regularidad</label>
        <select name="byregularidad" id="regularidadSelect">
            <option value="">Seleccionar...</option>
            <option value="Regular">Regular</option>
            <option value="SemiIntesivo">SemiIntensivo</option>
            <option value="Intensivo">Intensivo</option>
        </select>
        <label>Por Módulo</label>
        <select name="bymodulo" id="moduloSelect">
            <option value="">Seleccionar...</option>
            @{
                var opciones = new List<string>();
            }
            @foreach (var programs in Model)
            {
                if (!opciones.Contains(programs.ModulName))
                {
                    opciones.Add(programs.ModulName);
                    <option value="@programs.ModulName">@programs.ModulName</option>
                }
            }
        </select>
        <br />
        <label>Por Programa</label>
        <select name="byprograma" id="programaSelect">
            <option value="">Seleccionar...</option>
            @{
                opciones = new List<string>();
            }
            @foreach(var programs in Model)
            {
                if (!opciones.Contains(programs.CourseName))
                {
                    opciones.Add(programs.CourseName);
                    <option value="@programs.CourseName">@programs.CourseName</option>
                }
            }
        </select>
    </div>
    <!-- Table -->
    <div class="table-scroll">
        <div>
            <table id="main-table" class="main-table">
                <thead>
                    <tr>
                        <th>Programa</th>
                        <th>Modulo</th>
                        <th>Inicio</th>
                        <th>Fin</th>
                        <th>Horario</th>
                        <th>Turno</th>
                        <th>Regularidad</th>
                        <th>Modalidad</th>
                        <th>Duración</th>
                        <th>Nro Vacantes</th>
                        <th>Horas</th>
                        <th>Instructor Asignado</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var schedule in Model)
                    {
                        <tr>
                            <td>@schedule.CourseName</td>
                            <td>@schedule.ModulName</td>
                            <td>@schedule.Fecha_Inicio</td>
                            <td>@schedule.Fecha_Fin</td>
                            <td>@schedule.Horario</td>
                            <td>@schedule.Turno</td>
                            <td>@schedule.Regularidad</td>
                            <td>@schedule.Modalidad</td>
                            <td>@schedule.Duracion</td>
                            <td>@schedule.NroVacantes</td>
                            <td>@schedule.Horas</td>
                            @if (schedule.InstructorAsignado != null)
                            {
                                <td>@schedule.InstructorAsignado</td>
                            }
                            else{
                                <td>No asignado</td>
                            }           
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}
@section Scripts {
    <script>
        // Capturar el evento de cambio en los select
        document.getElementById("turnoSelect").addEventListener("change", filtrarRegistros);
        document.getElementById("modalidadSelect").addEventListener("change", filtrarRegistros);
        document.getElementById("regularidadSelect").addEventListener("change", filtrarRegistros);
        document.getElementById("moduloSelect").addEventListener("change", filtrarRegistros);
        document.getElementById("programaSelect").addEventListener("change", filtrarRegistros);

        function filtrarRegistros() {
            // Obtener los valores seleccionados en los select
            var turno = document.getElementById("turnoSelect").value;
            var modalidad = document.getElementById("modalidadSelect").value;
            var regularidad = document.getElementById("regularidadSelect").value;
            var modulo = document.getElementById("moduloSelect").value;
            var programa = document.getElementById("programaSelect").value;

            // Obtener la tabla y sus filas
            var table = document.getElementById("main-table");
            var rows = table.getElementsByTagName("tr");

            // Recorrer las filas de la tabla
            for (var i = 1; i < rows.length; i++) {
                var row = rows[i];
                var cells = row.getElementsByTagName("td");

                // Obtener los valores de turno, modalidad, regularidad, módulo y programa en la fila actual
                var turnoValue = cells[5].innerText;
                var modalidadValue = cells[7].innerText;
                var regularidadValue = cells[6].innerText;
                var moduloValue = cells[1].innerText;
                var programaValue = cells[0].innerText;
                // Aplicar el filtro
                if ((turno == "" || turnoValue == turno) && 
                (modalidad == "" || modalidadValue == modalidad) && 
                (regularidad == "" || regularidadValue == regularidad) &&
                (modulo == "" || moduloValue == modulo) && 
                (programa == "" || programaValue == programa)) {
                    row.style.display = ""; // Mostrar la fila si cumple con el filtro
                } else {
                    row.style.display = "none"; // Ocultar la fila si no cumple con el filtro
                }
            }
        }
    </script>
}
